{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
{% endblock %}

{% block main %}
<!-- Search Bar -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
       <span class="input-group-text" id="filter">Filter</span>
    </div>
    <input type="text" class="form-control" id="searchField" placeholder="Enter text to filter..." aria-label="Filter" aria-describedby="filter">
   </div>
   
<div class="scrollable-table">
    <table id="icao_table">
        <thead>
            <tr>
                <th>City</th>
                <th>Country</th>
                <th>IATA Code</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(cities|length) %}
            <tr>
                <td>{{ cities[i] }}</td>
                <td>{{ countries[i] }}</td>
                <td><a href="{{ url_for('flights_to_dest', dest=iata[i]) }}">{{ iata[i] }}</a></td>
                <td>{{ continent[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}
<script>document.getElementById("flightsAnchor").classList.add("active")</script>

<script>
    document.getElementById('searchField').addEventListener('keyup', function() {
    var filter = this.value.toUpperCase();
    var table = document.getElementById('icao_table');
    var tr = table.getElementsByTagName('tr');
    var i, txtValue;

    for (i = 0; i < tr.length; i++) {
        var td = tr[i].getElementsByTagName("td");
        if (td && td.length > 0) { // Ensure td exists and has at least one element
            var city = td[0] ? td[0].textContent || td[0].innerText : '';
            var country = td[1] ? td[1].textContent || td[1].innerText : '';
            var iata = td[2] ? td[2].textContent || td[2].innerText : '';
            var continent = td[3] ? td[3].textContent || td[3].innerText : '';

            if (city.toUpperCase().indexOf(filter) > -1 || country.toUpperCase().indexOf(filter) > -1 || iata.toUpperCase().indexOf(filter) > -1 || continent.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
});

</script>
{% endblock %}
