{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
{% endblock %}

{% block main %}
{% include 'flash_messages.html' %}
<h1>Search Weather by ICAO Code</h1>
<!-- Search Bar -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
       <span class="input-group-text" id="filter">Filter</span>
    </div>
    <input type="text" class="form-control" id="searchField" placeholder="Enter text to filter..." aria-label="Filter" aria-describedby="filter">
   </div>
   
<div class="scrollable-table">
    <table id="icao_table" class="table table-primary">
        <thead class="thead-dark">
            <tr>
                <th>Region Name</th>
                <th>ICAO Code</th>
                <th>Airport</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(region_names|length) %}
            <tr>
                <td>{{ region_names[i] }}</td>
                <td><a href="{{ url_for('airport_weather', icao=icao_codes[i]) }}">{{ icao_codes[i] }}</a></td>
                <td>{{ airports[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<p>Search by any field to select an ICAO code to get weather information for the area around the selected airport.</p>
{% endblock %}

{% block js %}
<script>document.getElementById("weatherAnchor").classList.add("active")</script>
<script>
    document.getElementById('searchField').addEventListener('keyup', function() {
    var filter = this.value.toUpperCase();
    var table = document.getElementById('icao_table');
    var tr = table.getElementsByTagName('tr');
    var i, txtValue;

    for (i = 0; i < tr.length; i++) {
        var td = tr[i].getElementsByTagName("td");
        if (td && td.length > 0) { // Ensure td exists and has at least one element
            var regionName = td[0] ? td[0].textContent || td[0].innerText : '';
            var icaoCode = td[1] ? td[1].textContent || td[1].innerText : '';
            var airport = td[2] ? td[2].textContent || td[2].innerText : '';

            if (regionName.toUpperCase().indexOf(filter) > -1 || icaoCode.toUpperCase().indexOf(filter) > -1 || airport.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
});

</script>
{% endblock %}
