{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/flights.css') }}">
{% endblock %}

{% block main %}
  
<h1>Flight Offers</h1>
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Segment Count</th>
                <th>Departure IATA Code</th>
                <th>Arrival IATA Code</th>
                <th>Carrier-Aircraft Pair</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(len) %}
                <tr>
                    <td>{{ segment_counts[i] }}</td>
                    <td>{{ departure_iata_codes[i] }}</td>
                    <td>{{ arrival_iata_codes[i] }}</td>
                    <td>{{ carrier_aircraft_pairs[i] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

