.header-style-1,
.header-style-2 {
  text-align: center;
}

.header-style-2 {
  margin-bottom: 30px;
}

form {
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.stats-and-key {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.emissions-stats {
  flex-grow: 1;
}

.stat-item {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.stat-number {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 5px;
}

.stat-label {
  font-size: 1rem;
}

.emissions-key {
  flex-grow: 0;
  padding-left: 20px;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.low-emissions {
  background-color: #e6ffe6;
}
.medium-emissions {
  background-color: #f9f9c5;
}
.high-emissions {
  background-color: #ffcece;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ccc;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
}

.sort-button:hover {
  color: #007bff;
}

.form-inline .form-control {
  min-width: 100px;
  width: auto;
  margin-right: 10px;
}

.form-inline .form-row {
  justify-content: center;
}
.form-inline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form-inline .form-control,
.form-inline .btn {
  min-width: 150px;
  width: 150px;
  flex: 1 1 auto;
}

.form-inline div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .align-items-center {
  display: flex;
  flex-direction: row;
} */

/* Form styling for horizontal alignment */
.form-inline {
  display: flex;
  justify-content: center; /* Centers the form in the container */
  flex-wrap: wrap; /* Allows form items to wrap on small screens */
  gap: 10px;
  margin-bottom: 20px;
}

/* Ensures all form elements are aligned in a row and centered */
.form-inline .d-flex {
  flex-direction: row; /* Aligns children (form elements) in a row */
  align-items: center; /* Vertically centers the form elements */
  flex-wrap: wrap;
}

.form-inline #submit {
  margin-top: 32px;
}

/* Media Query for Responsive Adjustment */
@media (max-width: 576px) {
  .form-inline .d-flex {
    flex-direction: column;
  }
  .form-inline .mr-2 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.form-inline label {
  margin-bottom: 5px;
}

#submit {
  margin-top: 5px;
}

.oecd-link-container {
  background-color: #f9f9f9; /* Light grey background for distinction */
  border-left: 5px solid #5cb85c; /* Green left border for emphasis */
  padding: 20px; /* Padding for content inside the box */
  margin-top: 20px; /* Space above the section */
  margin-bottom: 20px; /* Space below the section */
}
.oecd-link-container h2 {
  color: #333; /* Dark grey for the heading */
}
.oecd-link-container p,
.oecd-link-container ol {
  font-size: 1rem; /* Standard font size for text */
  color: #505050; /* Lighter grey for text for easier reading */
  line-height: 1.6; /* Line height for better readability */
}
.oecd-link-container a {
  color: #007bff; /* Standard link color */
  text-decoration: none; /* No underline to keep it clean */
  display: block; /* Make the anchor block to take the full width for centering */
  width: fit-content; /* Fit the content width of the button */
  padding: 8px 12px; /* Padding inside the button */
  background-color: #007bff; /* Background color of the button */
  color: white; /* Text color inside the button */
  border-radius: 5px; /* Rounded corners for the button */
  margin: 1rem auto 1rem auto; /* Top and bottom margin of 1rem, auto left and right for centering */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.oecd-link-container a:hover {
  background-color: #0056b3; /* Darker blue on hover */
  text-decoration: none; /* Still no underline */
}
.oecd-link-container ol {
  margin-left: 20px; /* Indent for the ordered list */
}
.oecd-link-container li {
  margin-bottom: 10px; /* Space between list items for clarity */
}