{% extends 'base.html' %}

{% block main %}
<form class="form-login m-auto" method="post">
  {{ form.csrf_token }}
  <h2>Please sign in</h2>
  {% include 'flash_messages.html' %}
  <div class="form-floating">
    {{ form.username(class='form-control', placeholder="Enter your username") }}
    {{ form.username.label() }}
  </div>
  <div class="form-floating">
    {{ form.password(class='form-control', placeholder="Enter your password") }}
    {{ form.password.label() }}
  </div>
  <button class="btn btn-lg btn-primary w-100 mt-3" type="submit">Sign in</button>
</form>
{% endblock %}
